.landing {
    height: 90vh;
    background-image: url(https://github.com/Heliosoto1987/noname/blob/master/public/assets/noname.jpeg?raw=true);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    justify-content: center;
    background-color: black;
    background-size: 200px;
}

.landing__title{
    padding-top: 10%;
    color: white;
    font-style: italic;
    font-size: 3rem;
}

.rosters{   
    display: flex;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-position: center;
} 

.rosters__title{
    text-align: center;
}
.rosters__div{
    font-weight: bold;
    margin-bottom: 20px;
}

.rosters__ul{
    margin-top: 5vh;
    margin-left: 5vw;
    list-style: none;
}

.rosters__li{
    margin: 10px;
}

.rosters__flexul{
    display: flex;
}

.landing__photo{
    height: 100vh;
    background-image: url(https://larepublica.pe/resizer/xbDvD-DrxHPbN2cW6WlXOY6x4bU=/1250x735/top/smart/cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/AH7V6AMSDNGSJKR6CU27UWQMUU.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: 0;
}

@media (max-width: 600px ) {

    .rosters{
        height: 100%;
        text-align: center;
        font-weight: bolder;
        color: black;
    }

    .rosters__flexul{
        display: flex;
        justify-content: space-around;
    }

    .rosters__ul{
        width: fit-content;
    }

    .rosters__li{
        margin: 10px;
    }
}