.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.login__box{
    background-color: rgb(246, 241, 234);
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__text{
    text-align: center;
}

.login__btn{
    margin-top: 15px;
    padding: 2px;
    border-style: none;
}

.login__btn:hover{
    background-color: black;
    color: white;
}


