.nav {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 5vw;
    padding-top: 1vh;
    color: white;
}

.nav__buttton{
    font-size: 1.5rem;
    margin-left: 1vw;
    margin-top: 1vh;
    padding: 10px;
    background-color: black;
    border-style: none;
    color: white;
    align-self: flex-end;
}

.nav__buttton:hover{
    color: rgb(130, 127, 127)
}

.nav_welcome{
    padding-right: 5px;
}

.nav__name{
    display: flex;
    align-items: center;
    font-size: 1rem;
}